{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/log.css') }}">
{% endblock %}

{% block body %}
    <form method="post" class="form-signin mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal text-center">Supprimez votre profil</h1>
                {{ form_start(confirmPassword, {'attr': {
                    'novalidate': 'novalidate'
                }}) }}
                {{ form_label(confirmPassword.password) }}
                <button class="btn btn-md btn-danger mt-2" type="submit">
                    Supprimez
                </button>
                {{ form_end(confirmPassword) }}
            </div>
        </div>
    </form>
{% endblock %}
