{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/log.css') }}">
{% endblock %}

{% block body %}
    <form method="post" class="form-signin mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialisez</h1>
                {{ form_start(resetPasswordForm, {'attr': {
                    'novalidate': 'novalidate'
                }}) }}
                {{ form_label(resetPasswordForm.password) }}
                {{ form_widget(resetPasswordForm.password) }}
                {{ form_help(resetPasswordForm.password) }}
                <button class="btn btn-md btn-primary mt-2" type="submit">
                    Réinitialisez
                </button>
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </form>
{% endblock %}
